<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Frituur Frida')"></head>
<body>
<nav th:replace="fragments::frituurmenu"></nav>
<h1>Frituur Frida</h1>
<div th:if="${reedsBezocht}">Welkom terug.</div>
<h2>Vandaag zijn we <span th:text="${boodschap}"></span></h2>
<h2>Locatie</h2>
<dl th:object="${frituur}">
    <dt>Straat</dt>
    <dd th:text="*{straatHuisNr}"></dd>
    <dt>Gemeente</dt>
    <dd th:object="${frituur.gemeente}" th:text="|*{naam} *{postcode}|"></dd>
</dl>
</body>
</html>