<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Frida snacks')">
</head>
<body>
<nav th:replace="fragments::frituurmenu"></nav>
<ul class="naastelkaar">
    <li th:each="letter:${alfabet}">
        <a th:href="@{/snacks/{letter}(letter = ${letter})}" th:text="${letter}"></a>
    </li>
</ul>
<h2 th:if="${letter} != null">Snacks die beginnen met de <span th:text="${letter}"></span></h2>
<ul class="zebra">
    <li th:each="snack:${snacks}">
        <a th:href="@{/snacks/wijzigen/form/{id}(id = ${snack.id})}" th:text="${snack.naam}"></a>
    </li>
</ul>
<div th:if="${param.gewijzigd}!=null" class="boodschap"><span th:text="${param.gewijzigd}"></span> is gewijzigd</div>
</body>
</html>